<div class="task-list">
  <div class="container">
    <div class="task-list-wrapper">
      <div class="task-list-title">Мои задачи</div>
      <div>
        <button class="button" (click)="openModalCreateTask()">Добавить задачу</button>
      </div>
    </div>

    <div class="task-list-head">
      <div class="task-list-sorting" [class.open]="sortingOpen" (click)="toogleSorting()">
        <div class="task-list-sorting-head">
          <span>Сортировать</span>
          <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.0003 14.5C9.41693 14.5 8.83359 14.275 8.39193 13.8334L2.95859 8.40003C2.71693 8.15837 2.71693 7.75837 2.95859 7.5167C3.20026 7.27503 3.60026 7.27503 3.84193 7.5167L9.27526 12.95C9.67526 13.35 10.3253 13.35 10.7253 12.95L16.1586 7.5167C16.4003 7.27503 16.8003 7.27503 17.0419 7.5167C17.2836 7.75837 17.2836 8.15837 17.0419 8.40003L11.6086 13.8334C11.1669 14.275 10.5836 14.5 10.0003 14.5Z"
              fill="#2C2C2C"/>
          </svg>
        </div>
        <div class="task-list-sorting-body">
          <div class="task-list-sorting-item" *ngFor="let sortingOption of sortingOptions"
               (click)="sortTasks(sortingOption.value)">{{sortingOption.name}}</div>
        </div>
      </div>
    </div>

    <div class="task-layout">
      <div class="task-filters" >
        <app-task-filter (filteredTasksChange)="onFilteredTasksChange($event)" [node]='node' *ngFor="let node of nodes"></app-task-filter>
      </div>

      <div class="task-list-scroll">
        <div class="table-title">
          <table style="table-layout: fixed;">
            <thead>
            <tr>
              <th style="width: 350px">Название</th>
              <th>Сроки выполнения</th>
              <th>Проекты</th>
              <th>Приоритет</th>
              <th>Статус</th>
              <th>Исполнитель</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="table-body">
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              Задачи на неделю
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
              <table style="table-layout: fixed;">
                <tbody>
                <tr *ngFor="let task of filteredTasks" class="table-body-tr"
                    (click)="openTaskCardDialog(task.id, task.priority)">
                  <td style="width: 350px">{{task.title}}</td>
                  <td>{{task.deadline}}</td>
                  <td>{{task.projects}}</td>
                  <td>{{task.priority}}</td>
                  <td>{{task.status}}</td>
                  <td>{{task.assignee}}</td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>

