
<div class="container">
  <div class="task-card">
    <div class="buttons">
      <button class=" button button-save" (click)="saveTask(data?.id)">Сохранить изменения</button>
    </div>
    <form [formGroup]="taskForm">
      <div class="task-card-input">
        <input type="text" placeholder="Название" formControlName="title">
      </div>
      <div class="task-card-item">
        <span>Исполнитель</span>
        <select class="task-card-item-select" formControlName="assignee">
          <option value="">Выберите исполнителя</option>
          <option *ngFor="let assignee of assignees" [value]="assignee.name">{{ assignee.name }}</option>
        </select>
      </div>
      <div class="task-card-item">
        <span>Дедлайн</span>
        <input class="task-card-item-date" type="date" formControlName="deadline">
      </div>
      <div class="task-card-item">
        <span>Проекты</span>
        <select class="task-card-item-select" formControlName="projects">
          <option value="">Выберите проект</option>
          <option *ngFor="let project of projects" [value]="project.name">{{ project.name }}</option>
        </select>
      </div>
      <div class="task-card-item">
        <span>Приоритет</span>
        <select class="task-card-item-select" formControlName="priority">
          <option value="">Выберите приоритет</option>
          <option *ngFor="let priority of priorities" [value]="priority.name">{{ priority.name }}</option>
        </select>
      </div>
      <div class="task-card-item">
        <span>Статус</span>
        <select class="task-card-item-select" formControlName="status">
          <option value="">Выберите статус</option>
          <option *ngFor="let status of status" [value]="status.name">{{ status.name }}</option>
        </select>
      </div>
      <div class="task-card-description">
        <div>Описание</div>
        <textarea formControlName="description" ></textarea>
      </div>
    </form>
    <div class="buttons">
      <button class=" button-cancel" (click)="onCancelClick()">Отмена</button>
      <button class=" button-delete" (click)="deleteTask(data?.id)">Удалить задачу</button>
    </div>
  </div>

</div>







<!--<div class="container">-->
<!--  <div class="buttons">-->
<!--    <button class=" button button-save" (click)="saveTask(data?.id)">Сохранить изменения</button>-->

<!--  </div>-->
<!--  <div class="task-card">-->
<!--    <form [formGroup]="taskForm">-->
<!--      <div class="task-card-input">-->
<!--        <input type="text" placeholder="Название" formControlName="title">-->
<!--      </div>-->
<!--      <div class="task-card-item">-->
<!--        <span>Исполнитель</span>-->
<!--        <select class="task-card-item-select" [(ngModel)]="selectedAssignees" formControlName="assignee">-->
<!--          <option value="0">Выберите исполнителя</option>-->
<!--          <option *ngFor="let assignee of assignees" [value]="assignee.name">{{ assignee.name }}</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div class="task-card-item">-->
<!--        <span>Дедлайн</span>-->
<!--        <input class="task-card-item-date" type="date" formControlName="deadline">-->
<!--      </div>-->
<!--      <div class="task-card-item">-->
<!--        <span>Проекты</span>-->
<!--        <select class="task-card-item-select" formControlName="projects">-->
<!--          <option value="0">Выберите проект</option>-->
<!--          <option *ngFor="let project of projects" [value]="project.name">{{ project.name }}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="task-card-item">-->
<!--        <span>Приоритет</span>-->
<!--        <select class="task-card-item-select" [(ngModel)]="selectedPriority" formControlName="priority">-->
<!--          <option value="0">Выберите приоритет</option>-->
<!--          <option *ngFor="let priority of priorities" [value]="priority.name">{{ priority.name }}</option>-->
<!--        </select>-->
<!--      </div>-->
<!--      <div class="task-card-item">-->
<!--        <span>Статус</span>-->
<!--        <select class="task-card-item-select" [(ngModel)]="selectedStatus" formControlName="status">-->
<!--          <option value="0">Выберите статус</option>-->
<!--          <option *ngFor="let status of status" [value]="status.name">{{ status.name }}</option>-->
<!--        </select>-->
<!--      </div>-->

<!--      <div class="task-card-description">-->
<!--        <div>Описание</div>-->
<!--        <input type="text" formControlName="description">-->
<!--      </div>-->
<!--    </form>-->


<!--  </div>-->
<!--</div>-->





<!--    <table>-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th colspan="2" style="width: 200px; font-weight: 500; font-size: 20px">{{data?.title}}</th>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Исполнитель</td>-->
<!--        <td style="width: 200px">{{data?.assignee}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Дедлайн</td>-->
<!--        <td style="width: 200px">{{data?.deadline}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Проекты</td>-->
<!--        <td style="width: 200px">{{data?.projects}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Приоритет</td>-->
<!--        <td style="width: 200px">{{data?.priority}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Приоритет</td>-->
<!--        <td style="width: 200px">{{data?.status}}</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td style="width: 200px; font-weight: 500">Описание</td>-->
<!--        <td style="width: 200px; font-weight: 500">{{data?.description}}</td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div class="buttons">-->
<!--      <button class=" button-cancel" (click)="onCancelClick()">Отмена</button>-->
<!--      <button class=" button-delete" (click)="deleteTask(data?.id)">Удалить задачу</button>-->

<!--    </div>-->


